###Import the position_salaries.csv file given

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score

###load the dataset

In [3]:
path = "/content/drive/MyDrive/Dataset/w2_position_salaries-220925-153437.csv"
df = pd.read_csv(path, encoding='latin-1')
df.head(5)

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

###Your input column is indicated as “Level” and output column is indicated as “Salary”

In [6]:
X = data["Level"].values.reshape(-1, 1)
y = data["Salary"].values

###Do not split the dataset into train-test or train-validation-test. Use entire dataset for training the regression models

Train a simple linear regression model and compute the R2 Score of the trained model

In [7]:
linear_regression = LinearRegression()
linear_regression.fit(X, y)
linear_regression_r2 = r2_score(y, linear_regression.predict(X))
print("R2 Score (Linear Regression):", linear_regression_r2)

R2 Score (Linear Regression): 0.6690412331929895

###Train three polynomial regression model with degree of 2, 3 and 4 and compute their R2 Scores

In [8]:
degrees = [2, 3, 4]
poly_regression_r2_scores = []

for degree in degrees:
    polynomial_features = PolynomialFeatures(degree=degree)
    X_poly = polynomial_features.fit_transform(X)

    poly_regression = LinearRegression()
    poly_regression.fit(X_poly, y)
    poly_regression_r2 = r2_score(y, poly_regression.predict(X_poly))
    poly_regression_r2_scores.append(poly_regression_r2)
    print("R2 Score (Polynomial Regression, Degree {}):".format(degree), poly_regression_r2)

R2 Score (Polynomial Regression, Degree 2): 0.9162082221443942
R2 Score (Polynomial Regression, Degree 3): 0.9812097727913366
R2 Score (Polynomial Regression, Degree 4): 0.9973922891706614